.container {
  background: rgba(256, 256, 256, 0.9);
  margin: 20px 5px 5px 5px;
  padding: 10px;
  border-radius: 30px;
  color: #333;
}

.title {
  margin: 15px auto 20px;;
  text-align: center;
}

.actionArea {
  padding: 0 15px;
  display: flex;
  margin-bottom: 10px;
}

.actionButton {
  flex-grow: 1;
  max-width: 200px;
  padding: 10px 20px;
  border: 2px solid dodgerblue;
  border-radius: 20px;
  background: none;
  color: dodgerblue;
  font-size: 18px;
  margin-right: 5px;
}

.actionButtonNot {
  flex-grow: 1;
  max-width: 200px;
  padding: 10px 20px;
  border: 2px solid orangered;
  border-radius: 20px;
  background: none;
  color: orangered;
  font-size: 18px;
  margin-right: 5px;
}

.details {
  padding: 0 0 0 10px;
  display: flex;
  margin: 0;
}

.details p {
  flex-grow: 1;
  padding: 0 5px;
  margin: 15px 0 0 0;
  text-align: center;
  font-size: 1.1em;
}

.category {
  padding: 10px;
  border-radius: 20px;
  background: deepskyblue;
  text-align: center;
  /*height: 25px;*/
  max-width: 130px;
}

.subInfo {
  /*border: 1px solid black;*/
  padding: 5px;
}

.host {
  padding: 0 0 0 10px;
}

.description {
  padding: 10px;
}

.mapArea {
  width: 100%;
  height: 400px;
  margin: 10px 10px 40px 0;
}

.mapArea > p {
  padding-left: 15px;
}

.authorLink {
  color: dodgerblue;
  margin-left: 10px;
}

.editButton {
  padding: 10px;
  border: 2px solid purple;
  border-radius: 20px;
  font-size: 18px;
  color: purple;
}

@media screen and (min-width: 460px) {
  .title {
    text-align: left;
    padding-left: 20px;
  }
}